USE [master]
GO
/****** Object:  Database [LittleFishBeauty]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE DATABASE [LittleFishBeauty]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LittleFishBeauty', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LittleFishBeauty.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LittleFishBeauty_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LittleFishBeauty_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LittleFishBeauty].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LittleFishBeauty]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnhSanPham]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhSanPham](
	[ID_Anh] [int] IDENTITY(1,1) NOT NULL,
	[ID_SanPham] [int] NULL,
	[DuongDan] [nvarchar](255) NULL,
	[LoaiAnh] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Anh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID_ChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[ID_DonHang] [int] NULL,
	[ID_SanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaLucDat] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[ID_DanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[ID_DanhMucCha] [int] NULL,
	[DuongDanSEO] [nvarchar](255) NULL,
	[ThuTuHienThi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID_DonHang] [int] IDENTITY(1,1) NOT NULL,
	[ID_TaiKhoan] [int] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[NgayDat] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[HoTenNguoiNhan] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID_SanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[SoLuongTonKho] [int] NULL,
	[SKU] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
	[ID_DanhMuc] [int] NULL,
	[CachSuDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 01/09/2025 9:00:46 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID_TaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250831074850_InitialSync', N'8.0.18')
GO
SET IDENTITY_INSERT [dbo].[AnhSanPham] ON 

INSERT [dbo].[AnhSanPham] ([ID_Anh], [ID_SanPham], [DuongDan], [LoaiAnh]) VALUES (2, 1, N'/images/products/8faef27a-7f5a-4406-8555-40d3c054b01d_CETAPHIL_PDP_PRODUCT_IMAGES_CORE_Gentle_Skin_Cleanser_500ml.png', N'phu')
INSERT [dbo].[AnhSanPham] ([ID_Anh], [ID_SanPham], [DuongDan], [LoaiAnh]) VALUES (3, 2, N'/images/products/f9bbbc8e-3e03-4b43-a362-dde7f6ef1122_4550516474568.jpg', N'phu')
INSERT [dbo].[AnhSanPham] ([ID_Anh], [ID_SanPham], [DuongDan], [LoaiAnh]) VALUES (4, 3, N'/images/products/85375045-609e-4ff4-b922-8c87f34cc222_15af0b41edb6f66bcc0cd8fddf380091.jpg', N'phu')
SET IDENTITY_INSERT [dbo].[AnhSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([ID_ChiTiet], [ID_DonHang], [ID_SanPham], [SoLuong], [GiaLucDat]) VALUES (4, 4, 28, 1, CAST(145000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([ID_ChiTiet], [ID_DonHang], [ID_SanPham], [SoLuong], [GiaLucDat]) VALUES (5, 5, 24, 1, CAST(420000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([ID_ChiTiet], [ID_DonHang], [ID_SanPham], [SoLuong], [GiaLucDat]) VALUES (6, 6, 19, 1, CAST(420000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([ID_DanhMuc], [TenDanhMuc], [MoTa], [AnhDaiDien], [ID_DanhMucCha], [DuongDanSEO], [ThuTuHienThi]) VALUES (1, N'Sữa rửa mặt', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[DanhMuc] ([ID_DanhMuc], [TenDanhMuc], [MoTa], [AnhDaiDien], [ID_DanhMucCha], [DuongDanSEO], [ThuTuHienThi]) VALUES (2, N'Nước hoa hồng', NULL, NULL, NULL, NULL, 2)
INSERT [dbo].[DanhMuc] ([ID_DanhMuc], [TenDanhMuc], [MoTa], [AnhDaiDien], [ID_DanhMucCha], [DuongDanSEO], [ThuTuHienThi]) VALUES (3, N'Serum', NULL, NULL, NULL, NULL, 4)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([ID_DonHang], [ID_TaiKhoan], [TongTien], [NgayDat], [TrangThai], [HoTenNguoiNhan], [SoDienThoai], [PhuongThucThanhToan], [DiaChi]) VALUES (4, 6, CAST(175000 AS Decimal(18, 0)), CAST(N'2025-08-31T15:59:16.557' AS DateTime), N'Đang giao', N'Shin', N'0919915600', N'on', N'ABC HCM')
INSERT [dbo].[DonHang] ([ID_DonHang], [ID_TaiKhoan], [TongTien], [NgayDat], [TrangThai], [HoTenNguoiNhan], [SoDienThoai], [PhuongThucThanhToan], [DiaChi]) VALUES (5, 7, CAST(450000 AS Decimal(18, 0)), CAST(N'2025-08-31T20:45:14.057' AS DateTime), N'Đang giao', N'Dũng', N'0919915600', N'on', N'ABC HCM')
INSERT [dbo].[DonHang] ([ID_DonHang], [ID_TaiKhoan], [TongTien], [NgayDat], [TrangThai], [HoTenNguoiNhan], [SoDienThoai], [PhuongThucThanhToan], [DiaChi]) VALUES (6, 6, CAST(450000 AS Decimal(18, 0)), CAST(N'2025-08-31T22:59:11.510' AS DateTime), N'Chờ xác nhận', N'Dũng', N'0919915600', N'on', N'ABC HCM')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [MoTa], [GiaBan], [SoLuongTonKho], [SKU], [TrangThai], [ID_DanhMuc], [CachSuDung], [NgayTao]) VALUES (1, N'Sữa rửa mặt Cetaphil Gentle', NULL, CAST(120000 AS Decimal(18, 0)), 100, N'CETAPHIL-001', 1, 1, NULL, CAST(N'2025-08-20T22:40:26.630' AS DateTime))
INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [MoTa], [GiaBan], [SoLuongTonKho], [SKU], [TrangThai], [ID_DanhMuc], [CachSuDung], [NgayTao]) VALUES (2, N'Sữa rửa mặt Senka Perfect Whip', NULL, CAST(95000 AS Decimal(18, 0)), 99, N'SENKA-001', 1, 1, NULL, CAST(N'2025-08-20T22:40:26.630' AS DateTime))
INSERT [dbo].[SanPham] ([ID_SanPham], [TenSanPham], [MoTa], [GiaBan], [SoLuongTonKho], [SKU], [TrangThai], [ID_DanhMuc], [CachSuDung], [NgayTao]) VALUES (3, N'Nước hoa hồng Thayers Witch Hazel', NULL, CAST(180000 AS Decimal(18, 0)), 100, N'THAYERS-001', 1, 2, NULL, CAST(N'2025-08-20T22:40:26.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email], [MatKhau], [VaiTro], [HoTen], [NgaySinh], [GioiTinh], [AnhDaiDien], [TrangThai], [NgayTao]) VALUES (2, N'nguyenthanhtien2120@gmail.com', N'$2a$11$karASd4WE.oLRgwyGFuBcOIZp8.0RAMQ5RYHLMlXYOkgVMX4ZL.ma', N'khach', N'iuo', NULL, NULL, NULL, 1, CAST(N'2025-08-21T14:02:34.460' AS DateTime))
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email], [MatKhau], [VaiTro], [HoTen], [NgaySinh], [GioiTinh], [AnhDaiDien], [TrangThai], [NgayTao]) VALUES (5, N'2200002438@nttu.edu.vn', N'$2a$11$H.MPURQ7h9Rx5VJkmXAstOJj.pd1AG.orUvO6eSKKu46o6hasH5hq', N'Khach', N'Shin', NULL, NULL, NULL, 1, CAST(N'2025-08-31T13:25:37.763' AS DateTime))
INSERT [dbo].[TaiKhoan] ([ID_TaiKhoan], [Email], [MatKhau], [VaiTro], [HoTen], [NgaySinh], [GioiTinh], [AnhDaiDien], [TrangThai], [NgayTao]) VALUES (6, N'truongtuongvi1412@gmail.com', N'$2a$11$Jl2w.S4GsMF1WSswJFs0R.r2feVhWELJHYVRtG1yGW3J8kscabF/O', N'Khach', N'Shin', NULL, NULL, NULL, 1, CAST(N'2025-08-31T14:55:18.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
/****** Object:  Index [IX_AnhSanPham_ID_SanPham]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE NONCLUSTERED INDEX [IX_AnhSanPham_ID_SanPham] ON [dbo].[AnhSanPham]
(
	[ID_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonHang_ID_DonHang]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHang_ID_DonHang] ON [dbo].[ChiTietDonHang]
(
	[ID_DonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietDonHang_ID_SanPham]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietDonHang_ID_SanPham] ON [dbo].[ChiTietDonHang]
(
	[ID_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DanhMuc_ID_DanhMucCha]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE NONCLUSTERED INDEX [IX_DanhMuc_ID_DanhMucCha] ON [dbo].[DanhMuc]
(
	[ID_DanhMucCha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DonHang_ID_TaiKhoan]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE NONCLUSTERED INDEX [IX_DonHang_ID_TaiKhoan] ON [dbo].[DonHang]
(
	[ID_TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__CA1ECF0DD7B49640]    Script Date: 01/09/2025 9:00:46 CH ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_ID_DanhMuc]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_ID_DanhMuc] ON [dbo].[SanPham]
(
	[ID_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__CA1ECF0D06E88054]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__SanPham__CA1ECF0D06E88054] ON [dbo].[SanPham]
(
	[SKU] ASC
)
WHERE ([SKU] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D105344F2BA7E1]    Script Date: 01/09/2025 9:00:46 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__A9D10534BAF084CD]    Script Date: 01/09/2025 9:00:46 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__TaiKhoan__A9D10534BAF084CD] ON [dbo].[TaiKhoan]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((0)) FOR [ThuTuHienThi]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTonKho]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[AnhSanPham]  WITH CHECK ADD FOREIGN KEY([ID_SanPham])
REFERENCES [dbo].[SanPham] ([ID_SanPham])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([ID_DonHang])
REFERENCES [dbo].[DonHang] ([ID_DonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([ID_SanPham])
REFERENCES [dbo].[SanPham] ([ID_SanPham])
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD FOREIGN KEY([ID_DanhMucCha])
REFERENCES [dbo].[DanhMuc] ([ID_DanhMuc])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([ID_TaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID_TaiKhoan])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([ID_DanhMuc])
REFERENCES [dbo].[DanhMuc] ([ID_DanhMuc])
GO
ALTER TABLE [dbo].[AnhSanPham]  WITH CHECK ADD CHECK  (([LoaiAnh]='360' OR [LoaiAnh]='phu' OR [LoaiAnh]='chinh'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]='khach' OR [VaiTro]='admin'))
GO
USE [master]
GO
